<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydemos"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mydemos.customui.scrollactivity.Activity1">
        </activity>
         <activity
            android:name="com.example.mydemos.customui.scrollactivity.Activity2" >
            </activity>
         <activity
            android:name="com.example.mydemos.customui.scrollactivity2.ScrollBackActivity2" >
         </activity>        
          <activity
            android:name="com.example.mydemos.customui.scrollactivity3.ViewPagerActivity" >
         </activity>
        <activity
            android:name="com.example.mydemos.ExampleLauncher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mydemos.customui.residemenu.MenuActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.mydemos.customui.pulltorefresh.PullToRefreshDemoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.mydemos.layout.relatvielayouttest.RelativeLayoutTestActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.mydemos.pics.PictureEditActivity">
        </activity>
        <activity
            android:name="com.example.mydemos.system.service.ServiceTestActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="com.example.mydemos.time.UseAlarmManagerActivity" >
        </activity>
        <activity android:name="com.example.mydemos.system.broadcastreceiver.RegUnregReceiverActivity" >
        </activity>
        
        
        <activity
            android:name="com.example.mydemos.net.netty.telnet.NettyTelnetActivity" >
        </activity>
            
        <activity 
            android:name="com.example.mydemos.net.netty.chat.NettyChatActivity" >
        </activity>
           <activity 
            android:name="com.example.mydemos.net.netty.push.PushStartActivity" >
        </activity>
        <!-- 服务测试 -->
        <service android:name="com.example.mydemos.system.service.ServiceTest" >
        </service>
    	<service android:name="com.example.mydemos.net.netty.push.PushReceiverService" >
        </service>
        
        <receiver android:name="com.example.mydemos.system.broadcastreceiver.ServiceStartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

 
</manifest>